@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-family: 'Poppins', sans-serif;
$semi-bold: 600;
$medium: 500;

$red: #F86061;
$light-red: #FEF5F5;
$black: #2E2E2E;

$border-radius: 8px;
$padding: 1rem 7rem;

